*
{
    margin: 0;
    padding: 0;
}
.page
{
    background-image: url("images/pizza.png");
    font-size: 16px;
    min-height: 100vh;
}
form
{
    width: 70%;
}
.form-login
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-login input
{
    width: 90%;
    height: 45px;
    margin: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
}
.form-login input[type=submit]
{
    background-color: rgb(77, 76, 76);
    color: rgb(252, 252, 245);
}
.form-login p
{
    width: 90%;
    margin: 10px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    color: rgb(46, 46, 46);
}
.form-login p a
{
    text-decoration: none;
    font-size: 1.3em;
    color: rgb(248, 248, 248);
}
input:focus
{
    outline: none;
}

                                                /* menu page */

.page-menu
{
    background-image: url("images/pizza.png");
    font-size: 16px;
    min-height: 100vh;
    z-index: 1;
}
.nav-menu
{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 99, 36);
    opacity: 0.8;
    position: fixed;
    top: 0;
    z-index: 2;
}
.nav-menu div
{
    margin: 20px 20px 10px 20px;
}
.nav-menu a
{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bolder;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
}
.page-menu h2
{
    text-align: center;
    font-size: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(22, 22, 22);
}
.type
{
    background-color: rgb(255, 255, 255);
    color: rgb(41, 41, 41);
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.2em;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px;
    opacity: 0.9;
}
.type:first-of-type
{
    margin-top: 10vh;
}

.cards
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card
{
    display: flex;
    align-items: center;
    width: 90%;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    color: rgb(29, 28, 28);
    opacity: 0.85;
    margin-bottom: 15px;
}

.card:first-of-type
{
    margin-top: 20px;
}

.card1
{
    width: 50%;
    margin: 15px;
    color: rgb(53, 52, 52);
}
.card1 h1
{
    font-size: 1.2em;
}
.card2
{
    width: 25%;
    padding: 20px;
    background-color: rgb(245, 244, 242);
    cursor: pointer;
}
.card3
{
    width: 25%;
    padding: 20px;
    background-color: rgb(230, 228, 228);
    cursor: pointer;
}

.small, .large
{
    border-bottom: 0.5px solid grey;
    margin-bottom: 8px;
    font-size: 1.3em;
}
.add 
{
    color: green;
    font-size: 1.5em;
    margin-top: 5px;
}

.toppings
{
    background-color: rgb(255, 255, 255);
    width: 65%;
    height: 200px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    position: fixed;
    top: 400px;
    z-index: 1;
    -webkit-box-shadow: -1px 2px 39px -10px rgba(0,0,0,0.59);
    -moz-box-shadow: -1px 2px 39px -10px rgba(0,0,0,0.59);
    box-shadow: -1px 2px 39px -10px rgba(0,0,0,0.59);
}
.left
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.left h3
{
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(34, 34, 34);
    margin-bottom: 15px;
}
.left-hidden
{
    display: none;
}
select
{
    margin: 5px;
    font-size: 2em;
}
.right
{
    margin-top: 50px;
    margin-bottom: 30px;
}
.right img
{
    width: 60%;
    cursor: pointer;
}
.for-all, .for-subs, .for-steak
{
    display: none;
    flex-direction: column;
}
.append input
{
    margin: 5px;
    font-size: 1.2em;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(54, 54, 54);
}
.cancel
{
    position: absolute;
    top: 15px;
    right: -20px;
}
.cancel img
{
    width: 30%;
}
.hide-dish, .hide-name, .hide-number, .hide-price
{
   display: none;
}
.select-subs
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.select-subs p 
{
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 5px;
}
.cart-bottom
{
    height: 10vh;
    width: 100%;
    background-color: rgb(210, 66, 33);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cart-bottom a 
{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2em;
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 100px;
}
.cart.bottom img
{
    width: 50px;
}
#margin-bottom
{
    height: 10vh;
}
                                                        /* cart page */

.nav-cart
{
    height: 15vh;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-cart a
{
    margin: 30px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 10px;
    height: 30px;
    color: white;
    background-color: rgb(43, 44, 43);
    text-decoration: none;
}
.cart-container
{

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    flex-direction: column;
}
.cart-page
{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.cart-page h1
{
   color: rgb(43, 42, 42);
   font-family: Helvetica, Arial, sans-serif;
   position: relative;
   bottom: 200px;
   
}
.empty
{
    display: none;
    justify-content: center;
    align-items: center;
}
.cart-items
{
    width: 100%;
    background-color: white;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.cart-item
{
    width: 100%;
    height: 150px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.5px solid grey;

}
.cart-item em
{
    display: none;
}
.cart-item p
{
    margin-left: 40px;
    width: 50%;
}
.cart-item div
{
    width: 30%;
}
.cart-item h3
{
    width: 20%;
}

.cart-item a
{
    width: 80px;
    height: 40px;
    background-color: rgb(65, 64, 64);
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
}
.cart-item:last-of-type
{
    border-bottom: none;
}
.confirm-cart
{
    text-align: right;
}
.confirm-position
{
    width: 80%;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.confirm-cart a
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 10px;
    height: 30px;
    color: white;
    background-color: rgb(54, 54, 54);
    text-decoration: none;
}
.total
{
    background-color: white;
    border-radius: 5px;
    width: 150px;
    padding: 20px;
    text-align: center;
    margin: 30px;
}

                                                            /* owner page */


.page-owner
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.instr
{
    position: fixed;
    top: 0.1px;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    color: rgb(36, 36, 36);
}
.instr ul
{
    width: 100%;
    padding: 50px;
    background-color: rgb(253, 243, 229);
}
#custom-table button
{
    padding: 8px;
    border-radius: 3px;
    background-color: rgb(250, 250, 250);
    border: none;
}
.go-db
{
    margin-left: 30px;
    margin-bottom: 50px;
    margin-top: 40px;
}
.go-db a
{
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 10px;

}

                                                                        /* confirm page */

.confirm-page
{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.confirm-page div
{
    margin: 30px;
}
.confirm-page h1
{

    padding: 20px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(65, 64, 64);
}
.confirm-page a
{

    font-size: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
    color: rgb(92, 129, 197);
}

                                    